<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>First Apostolic Church - Beliefs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="right-sidebar is-preload">
		<div id="page-wrapper">
            			<div id="chat-button"></div>
	<div class="private-message-bkg"></div>
	<form method="POST" action="/contact" action="" class="private-message-box">
		<div id="close-form">Close</div>
		<h2 id="title-font">How can we help?</h2>
		<input type="text" maxlength="50" id="std-input" placeholder="Name">
		<input type="email" maxlength="50" id="std-input" placeholder="Email">
		<input type="tel" maxlength="50" id="std-input" placeholder="Phone (Optional)">
		<textarea name="message" class="private-message-input" maxlength="500" placeholder="Type your message..."></textarea>
	<button id="std-button">Send</button>
	</form>

	<nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <!-- <li><a href="/about">About</a></li> -->
            <li><a href="/beliefs" >What We Believe</a></li>
            <!-- <li><a href="/give">Give</a></li> -->
        </ul>
    </nav>
			<!-- Main -->
<div class="wrapper style1">
    <h1 id="we-belief-main">We believe</h1>
    <h1 id="we-belief">We believe the Bible to be the inspired, infallible and authoritative Word of God.</h1>

    <h1 id="we-belief">We believe that there is one God.</h1>

    <h1 id="we-belief">We believe in the deity of the Lord Jesus Christ, in His virgin birth, His sinless life, His miracles, His vicarious death through shed blood, His ascension and in His personal return to power and glory.</h1>

    <h1 id="we-belief">We believe in repentance, water baptism in the name of Jesus Christ for the remission of sins and in the infilling of the Holy Spirit with the evidence of speaking in other tongues.</h1>

    <h1 id="we-belief">We believe in the present ministry of the Holy Spirit by whose indwelling the Christian is enabled to live a godly life.</h1>

    <h1 id="we-belief">We believe in the resurrection of both the saved and the lost: they that are saved unto the resurrection of life and they that are lost unto the resurrection of damnation.</h1>

    <h1 id="we-belief">We believe in the spiritual unity of believers in our Lord Jesus Christ.</h1>

</div>
        			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">
							<div class="col-12">

								<!-- Contact -->
									<section class="contact">
										<div id="fac-logo"></div>
										<p>You belong here!</p> 
										<ul class="icons">
											<li><a href="https://missionsamerica.aljc.org/" class="icon brands " id="ma-icon"><span class="label">Missions America</span></a></li>
											<li><a href="https://www.facebook.com/pg/facclveveland" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										</ul>
									</section>

								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li> <a href="http://www.xharcoal.com">Built by &copy;Xharcoal</a>. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
										</ul>
									</div>

							</div>

						</div>
					</div>
				</div>

		<!-- Scripts -->
        <script src="js/custom.js"></script>
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>

	</body>
</html>