<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>First Apostolic Church of Cleveland| Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="homepage is-preload">
			<div id="chat-button"></div>
	<div class="private-message-bkg"></div>
	<form method="POST" action="/contact" action="" class="private-message-box">
		<div id="close-form">Close</div>
		<h2 id="title-font">How can we help?</h2>
		<input type="text" maxlength="50" id="std-input" placeholder="Name">
		<input type="email" maxlength="50" id="std-input" placeholder="Email">
		<input type="tel" maxlength="50" id="std-input" placeholder="Phone (Optional)">
		<textarea name="message" class="private-message-input" maxlength="500" placeholder="Type your message..."></textarea>
	<button id="std-button">Send</button>
	</form>
	
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="index.html" id="salute">Firt Apostolic Church</a></h1>
								<hr />
								<p></p>
								<p id="you-belong-here">You belong here!</p>
							</header>
							<footer>
								<a href="https://www.facebook.com/pg/facclveveland/videos" class="circled scrolly" id="watch-onlne" >Watch Online</a>
							</footer>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<!-- <li><a href="/about">About</a></li> -->
								<li><a href="/beliefs" >What We Believe</a></li>
								<!-- <li><a href="/give">Give</a></li> -->
							</ul>
						</nav>

				</div>

			<!-- Banner -->
				<section id="banner">
					<header>
						<h2 id="title-font">This Is What we Do...</h2>
						<p>
							At First Apostolic Church we teach biblical truths to help people find the way to live a more fulfilling life with Christ Jesus. 
							We want people to experience the love of God has regardless of thier background.
						</p>
					</header>
				</section>

			<!-- Carousel -->
				<section class="carousel">
					<h2 id="title-font">Get To Know Us</h2>
					<div class="reel">

						<article id="article-one">
						</article>

						<article id="article-two">
						</article>

						<article id="article-three">
						</article>

						<article id="article-four">
						</article>

						<article id="article-five">
						</article>

						<article id="article-six">
						</article>

						<article id="article-seven">
						</article>

						
					</div>
				</section> 

			<!-- Main -->
				<div class="wrapper style2">

					<article id="main" class="container special">
						<header>
							<h2 id="title-font">Welcome</h2>
							<p>
								At First Apostolic Church, our doors are wide open to all people, we believe people from every background belongs, 
								regardless of where they are on their spiritual journey. <br> <br>
								
								We are a life-giving, church. Our goal is to infuse life and God’s love into families through engaging, 
								powerful worship services that offer biblical truth in relevant, practical ways. 
								
								<br> <br>
								Our passion is to provide a place where people can have a life-changing experience with God.
								So, if you are still just checking out the “church scene” and investigating the claims of Jesus Christ, thank you for allowing us to help you in your search. Or, if you are a committed Christ-follower who wants to sink the roots of your faith even deeper, you can find a home here at First Apostolic Church.
							</p>
						</header>
					</article>

				</div>

			<!-- Features -->
				<div class="wrapper style1">

					<section id="features" class="container special">
						<header>
							<h2 id="title-font">When and Where</h2>
						</header>
						<div class="row">
							<article class="col-4 col-12-mobile special">
								<header>
									<!-- <h3><a href="#">Gravida aliquam penatibus</a></h3> -->
									<div id="svg-2"></div>
								<p>
									4859 Freewill Rd <br> Cleveland, TN 37323
								</p>
								</header> 
								
							</article>
							<article class="col-4 col-12-mobile special">
								<header>
							<div id="svg-1"></div>
							<p>
								<strong>Sundays:</strong> 2:00pm <br>
							<strong>Thursdays:</strong> 7:30pm
						</p>
						</header>
							</article>
						</div>
					</section>

				</div>

			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">
							<div class="col-12">

								<!-- Contact -->
									<section class="contact">
										<div id="fac-logo"></div>
										<p>You belong here!</p> 
										<ul class="icons">
											<p>Social Media and afiliated: </p>
											<li><a href="https://missionsamerica.aljc.org/" class="icon brands " id="ma-icon"><span class="label">Missions America</span></a></li>
											<li><a href="https://www.facebook.com/pg/facclveveland" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										</ul>
									</section>

								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li> <a href="http://www.xharcoal.com">Built by &copy;Xharcoal</a>. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
										</ul>
									</div>

							</div>

						</div>
					</div>
				</div>

		</div>

		<!-- Scripts -->
		<script src="js/custom.js"></script>
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>

	</body>
</html>