<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>First Apostolic Church of Cleveland| Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="homepage is-preload body">
		
			<div id="chat-button"></div>
	<div class="private-message-bkg"></div>
	<form method="POST" action="/contact" action="" class="private-message-box">
		<div id="close-form">Close</div>
		<h2 id="title-font">How can we help?</h2>
		<input type="text" maxlength="50" id="std-input" placeholder="Name">
		<input type="email" maxlength="50" id="std-input" placeholder="Email">
		<input type="tel" maxlength="50" id="std-input" placeholder="Phone (Optional)">
		<textarea name="message" class="private-message-input" maxlength="500" placeholder="Type your message..."></textarea>
	<button id="std-button">Send</button>
	</form>


			<!-- Header -->
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<!-- <li><a href="/about">About</a></li> -->
								<li><a href="/beliefs" >What We Believe</a></li>
								<li><a href="/give">Give</a></li>
							</ul>
						</nav>

<h1 class="typing-text" ></h1>

		<!-- Scripts -->
	<script src="js/custom.js"></script>
	<script src="js/jquery.min.js"></script>
<script src="js/jquery.dropotron.min.js"></script>
<script src="js/jquery.scrolly.min.js"></script>
<script src="js/jquery.scrollex.min.js"></script>
<script src="js/browser.min.js"></script>
<script src="js/breakpoints.min.js"></script>
<script src="js/util.js"></script>
<script src="js/main.js"></script>
	</body>
</html>